
.App {
  
  text-align: center;
  margin-top: 30px;
  border:1px solid ;
  border-radius: 20px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

label {
  margin-bottom: 10px;
  display: flex;
  
}

input {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
  
}

button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

h2{
 top: 10px;
 display: flex;
 justify-content: center;
}

/* Pour les écrans plus larges que 600px */
@media (min-width: 600px) {
  .App {
    padding: 20px;
  }
}

/* Pour les écrans plus petits ou égaux à 600px */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }
  .btn_connect {
    width: 100%;
    margin-top: 10px;
  }
}
